.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.DS_Store

example/android/.gradle/
example/android/local.properties
example/ios/Pods/
example/ios/.symlinks/
example/ios/Flutter/Flutter.podspec
example/.dart_tool/
example/build/
